.imagen-fondo {
  background-image: url("../../../assets/img/background-1.jpeg");
}

.img-size {
  width: 100%;
  height: 200px;
}

.card-body-size {
  height: 150px;
}

.text-justificado {
  text-align: justify;
}

.text-size {
  font-size: 25px;
}

.text-proyecto {
  font-size: 22px;
}

body {
  font-size: 16px;
}
