
<!-- Navegacion-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-secondary text-oxygen fixed-top " id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="/home">RelaxTravel</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-0 mx-lg-1 my-auto">
          <a class="nav-link py-3 px-0" routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1 my-auto">
          <a class="nav-link py-3 px-0" *ngIf="admin && authService.isAuthenticated()" routerLink="/adminVuelos" routerLinkActive="active"><i class="fa fa-plane"></i> Administrar Vuelos</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0" *ngIf="admin && authService.isAuthenticated()" routerLink="/adminUsers" routerLinkActive="active"><i class="fa fa-user-plus"></i> Administrar usuarios</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0" routerLink="/aboutus" routerLinkActive="active"><i class="fa fa-users"></i> About us</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0"
                  routerLink="/login"
                  routerLinkActive="active"
                  *ngIf="!authService.isAuthenticated()"><i class="fa fa-arrow-right"></i> Iniciar Sesión
          </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0"
                  *ngIf="authService.isAuthenticated()"
                  (click)="logout()">
            <i class="fa fa-arrow-left"></i> Salir
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
