<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Sección pago</h1>
      <div class="container">

        <!-- Método de pago -->
        <div class="row">
          <div class="col-md-12 my-2">

            <div class="card">
              <div class="card-header">
                Método de pago
              </div>
              <div class="card-body">
                <h5 class="card-title">Seleccione el metodo de pago</h5>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Tarjeta de crédito
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Tarjeta de débito
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Admin tarjetas de crédito -->
        <div class="row">
          <div class="col-md-12 my-2">

            <div class="card">
              <div class="card-header">
                Administrar tarjetas
              </div>
              <div class="card-body">
                <h5 class="card-title">Tarjetas disponibles</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-10">
                          Mastercard ****4736
                        </div>

                        <div class="col-md-2">
                          <button class="btn btn-primary">Usar</button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-10">
                          VISA ****4332
                        </div>

                        <div class="col-md-2">
                          <button class="btn btn-primary">Usar</button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <h5 class="card-title mt-3">Registra una tarjeta nueva</h5>
                <button class="btn btn-success"><i class="fas fa-plus"></i> Agregar tarjeta</button>

              </div>
            </div>

          </div>
        </div>

        <!-- Info importante para el pago -->
        <div class="row">
          <div class="col-md-12 my-2">

            <div class="card">
              <div class="card-header">
                ¿Quiénes viajan?
              </div>
              <div class="card-body">
                <h5 class="card-title">Documentación requerida de cada pasajero</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Documento 1</li>
                  <li class="list-group-item">Documento 2</li>
                  <li class="list-group-item">Documento 3</li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <!-- Info de pasajeros -->
        <div class="row">
          <div class="col-md-12 my-2">

            <div class="card">
              <div class="card-header">
                Datos de los pasajeros
              </div>
              <div class="card-body">
                <h5 class="card-title">LLene los campos solicitados</h5>
                <form>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control-plaintext" id="name" value="Ej. Juan">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellido paterno</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="secondName" placeholder="Ej. Pérez">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellido materno</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Ej. Pérez">
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>

        <!-- Botón de pago -->
        <div class="row">
          <div class="col-md-12 text-center">

            <a href="#" class="btn btn-primary">Pagar</a>

          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <h1>Sección info de total</h1>
    </div>
  </div>
</div>
