
<div class="container-fluid mt-4">
  <div class="row mb-5" style="background-image: url('../../../assets/img/vacations.jpg')">
    <div class="col-md-12 mb-5">
      <p class="display-1 text-white my-auto">Búsqueda</p>
    </div>
  </div><br>
</div>

<!--carousel-->
<div class= "container mb-5" >
  <div class="row">

    <div class="col-md-6">
      <div class="container1">

        <div class="card" style="width: 30rem;">
          <div class="card-body">

            <h6 class="card-title">Tipo de Vuelo</h6>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                       [checked]="true" (change)="onItemChange($event)">
                <label class="form-check-label" for="inlineRadio1">Redondo</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                       (change)="onItemChange($event)">
                <label class="form-check-label" for="inlineRadio2">Sencillo</label>
              </div>
            </div>

            <div>
              <label class="labelbusqueda">Origen</label>
              <select class="custom-select" *ngIf="aeropuertos != null" [(ngModel)]="search.origin">
                <option selected>Elige un aeropuerto</option>
                <option *ngFor="let aeropuerto of aeropuertos">{{aeropuerto.id + ', ' + aeropuerto.nombre + ', ' + aeropuerto.ciudad.nombre}}</option>
              </select>

              <label class="labelbusqueda">Destino</label>
              <select class="custom-select" *ngIf="aeropuertos != null" [(ngModel)]="search.destination">
                <option selected>Elige un aeropuerto</option>
                <option *ngFor="let aeropuerto of aeropuertos">{{aeropuerto.id + ', ' + aeropuerto.nombre + ', ' + aeropuerto.ciudad.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label >Fech de ida</label>
              <input type="date" name="bday" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [(ngModel)]="search.dateGo">
            </div>
            <div class="form-group">
              <label >Fecha de regreso</label>
              <input type="date" name="bday" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [(ngModel)]="search.dateBack">
            </div>


            <!--h6 class="card-title">Pasajeros y Clase</h6>
            <div class="categoriavuelo">
              <label class="labelcategory">Categoria</label>
              <select name="categoriavuelo" id="categoriavuelo">
                <option value="economy">Económica</option>
                <option value="premiumeconomy">Premium economy</option>
                <option value="Business">Ejecutiva/Business</option>
                <option value="firstclass">Primera clase</option>
              </select>
              <br>

              <label class="labelnumpersonas">N° de personas</label><input type="number" class="numeropersonas" name="numeropersonas" id="numeropersonas" value="1">
            </div-->
            <!--Se queda la función buscar -->
            <button class="btn btn-primary" (click)="buscar()">Buscar</button>
          </div>
        </div><br>






      </div>
    </div>




    <div class="col-md-6">
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000" >
              <img src="../../../assets/img/chihuaha.jpeg" class="d-block w-100" alt="Chihuaha">
              <div class="carousel-caption">
                <h3 class="text" >Chihuahua</h3>
              </div>
            </div>
            <div class="carousel-item" data-interval="10000">
              <img src="../../../assets/img/jalisco.jpg" class="d-block w-100" alt="Jalicso">
              <div class="carousel-caption">
                <h3 class="text">Jalisco</h3>
              </div>
            </div>
            <div class="carousel-item" data-interval="10000">
              <img src="../../../assets/img/quintanaroo.jpg" class="d-block w-100" alt="Quintana Roo">
              <div class="carousel-caption">
                <h3 class="text">Quintana Roo</h3>
              </div>
            </div>
            <div class="carousel-item" data-interval="10000">
              <img src="../../../assets/img/oaxaca.jpg" class="d-block w-100" alt="Oaxaca">
              <div class="carousel-caption">
                <h3 class="text" >Oaxaca</h3>
              </div>
            </div>
          </div>

            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p class="display-3 text-center">Vuelos de ida</p>
    </div>
  </div>

  <div class="row my-5">
      <div class="col-md-3 mx-auto" *ngFor="let vuelo of resultsGo">
        <div class="card" style="width: 100%;">
          <img src="../../../assets/img/chihuaha.jpeg" class="card-img-top img-size" alt="Chihuahua">
          <div class="card-body">
            <h5 class="card-title"><strong>Te lleva</strong>: {{vuelo.aerolinea}}</h5>
            <p class="card-text"><strong>Aeropuerto de salida:</strong> {{vuelo.aeropuertoOrigen.nombre + ' (' + vuelo.aeropuertoOrigen.iata + ')'}}</p>
            <p class="card-text"><strong>Aeropuerto de llegada:</strong> {{vuelo.aeropuertoDestino.nombre + ' (' + vuelo.aeropuertoDestino.iata + ')'}}</p>
            <p class="card-text">Pagas: <strong style="font-size: 18px;">{{'$' + (vuelo.precio.base + vuelo.precio.iva)}}</strong></p>
            <button class="btn btn-success" routerLink="/reserva">Seleccionar ida</button>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p class="display-3 text-center">Vuelos de regreso</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-3 mx-auto" *ngFor="let vuelo of resultsBack">
      <div class="card" style="width: 100%;">
        <img src="../../../assets/img/quintanaroo.jpg" class="card-img-top img-size" alt="Chihuahua">
        <div class="card-body">
          <h5 class="card-title"><strong>Te lleva</strong>: {{vuelo.aerolinea}}</h5>
          <p class="card-text"><strong>Aeropuerto de salida:</strong> {{vuelo.aeropuertoOrigen.nombre + ' (' + vuelo.aeropuertoOrigen.iata + ')'}}</p>
          <p class="card-text"><strong>Aeropuerto de llegada:</strong> {{vuelo.aeropuertoDestino.nombre + ' (' + vuelo.aeropuertoDestino.iata + ')'}}</p>
          <p class="card-text">Pagas: <strong style="font-size: 18px;">{{'$' + (vuelo.precio.base + vuelo.precio.iva)}}</strong></p>
          <button class="btn btn-success" routerLink="/reserva">Seleccionar regreso</button>
        </div>
      </div>
    </div>
  </div>
</div>

