<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>RelaxTravel</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

</head>
<body>

         
       <!-- Navegacion-->
              
<!--carousel-->

<div class= "container mb-5">
  <div class="row">

    <div class="col-md-6">
     
    </div>
   

    <div class="col-md-6">
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000" >
              <img src="../../../assets/img/chihuaha.jpeg" class="d-block w-100" alt="Chihuaha">
              <div class="carousel-caption">
                <h3 class="text" >Chihuahua</h3>
              </div>
            </div>
            <div class="carousel-item" data-interval="10000">
              <img src="../../../assets/img/jalisco.jpg" class="d-block w-100" alt="Jalicso">
              <div class="carousel-caption">
                <h3 class="text">Jalisco</h3>
              </div>
            </div>
            <div class="carousel-item" data-interval="10000">
              <img src="../../../assets/img/quintanaroo.jpg" class="d-block w-100" alt="Quintana Roo">
              <div class="carousel-caption">
                <h3 class="text">Quintana Roo</h3>
              </div>
            </div>
            <div class="carousel-item" data-interval="10000">
              <img src="../../../assets/img/oaxaca.jpg" class="d-block w-100" alt="Oaxaca">
              <div class="carousel-caption">
                <h3 class="text" >Oaxaca</h3>
              </div>
            </div>
          </div>

            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </div>
  </div> 
</div>

   

</body>
</html>

