<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title display-4 text-center"><strong>Administrar Vuelos</strong></h5>
          <p class="card-text text-justify">Aquí puedes administrar los vuelos disponibles que se verán reflejados en las busquedas de los usuarios.</p>
          <p>¿Qué deseas realizar?</p>
        </div>
      </div>
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
           href="#list-home" role="tab" aria-controls="home" (click)="obtenerVuelos();">
          <i class="fa fa-plane"></i> Ver todos los vuelos
        </a>
        <!--a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
           href="#list-profile" role="tab" aria-controls="profile">
          <i class="fa fa-plus"></i> Agregar vuelo
        </a-->
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <div class="container">
            <div class="row">
              <div *ngIf="fligths != null && !bnEdit">
                <div class="col-md-12 my-3" style="font-size: 35px;">Ver vuelos</div>
                <div class="col-md-12">
                  <table class="table">
                    <thead class="thead-dark">
                    <tr>
                      <th scope="col">Origen</th>
                      <th scope="col">Destino</th>
                      <th scope="col">Aerolinea</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Status</th>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let flight of fligths">
                      <td>{{flight.aeropuertoOrigen.nombre}}</td>
                      <td>{{flight.aeropuertoDestino.nombre}}</td>
                      <td>{{flight.aerolinea}}</td>
                      <td>{{flight.fecha}}</td>
                      <td *ngIf="flight.activo" class="text-success">Activo</td>
                      <td *ngIf="!flight.activo" class="text-success">Inactivo</td>
                      <td><button class="btn btn-primary" (click)="editFlight(flight)"><i class="fa fa-cog"></i></button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="container-fluid" *ngIf="bnEdit">
                <div class="row">
                  <div class="col-md-12 my-3" style="font-size: 35px;">Editar vuelo</div>
                  <div class="col-md-12">
                    <form>
                      <div class="form-group row">
                        <label for="date" class="col-md-4 col-form-label">Fecha</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="date"
                                 id="date"
                                 [(ngModel)]="flight.date">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="airline" class="col-md-4 col-form-label">Aerolinea:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="airline"
                                 id="airline"
                                 [(ngModel)]="flight.airline">
                        </div>
                      </div>

                      <p class="display-5"><strong>Aeropuerto origen</strong></p>
                      <div class="form-group row">
                        <label for="nameAirporOrigin" class="col-md-4 col-form-label">Nombre:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="nameAirporOrigin"
                                 id="nameAirporOrigin"
                                 [(ngModel)]="flight.nameAirporOrigin">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="descAirporOrigin" class="col-md-4 col-form-label">Descripción:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="descAirporOrigin"
                                 id="descAirporOrigin"
                                 [(ngModel)]="flight.descAirporOrigin">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="iataAirporOrigin" class="col-md-4 col-form-label">IATA (Código):</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="iataAirporOrigin"
                                 id="iataAirporOrigin" readonly
                                 [(ngModel)]="flight.iataAirporOrigin">
                        </div>
                      </div>

                      <p class="display-5"><strong>Ciudad</strong></p>
                      <div class="form-group row">
                        <label for="cityNameAirporOrigin" class="col-md-4 col-form-label">Nombre:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="cityNameAirporOrigin"
                                 id="cityNameAirporOrigin"
                                 [(ngModel)]="flight.cityNameAirporOrigin">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="cityDescAirporOrigin" class="col-md-4 col-form-label">Descripción:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="cityDescAirporOrigin"
                                 id="cityDescAirporOrigin"
                                 [(ngModel)]="flight.cityDescAirporOrigin">
                        </div>
                      </div>

                      <p class="display-5"><strong>Aeropuerto destino</strong></p>
                      <div class="form-group row">
                        <label for="nameAirporDestination" class="col-md-4 col-form-label">Nombre:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="nameAirporDestination"
                                 id="nameAirporDestination"
                                 [(ngModel)]="flight.nameAirporDestination">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="descAirporDestination" class="col-md-4 col-form-label">Descripción:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="descAirporDestination"
                                 id="descAirporDestination"
                                 [(ngModel)]="flight.descAirporDestination">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="iataAirporDestination" class="col-md-4 col-form-label">IATA (Código):</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="iataAirporDestination"
                                 id="iataAirporDestination"
                                 readonly
                                 [(ngModel)]="flight.iataAirporDestination">
                        </div>
                      </div>

                      <p class="display-5"><strong>Ciudad</strong></p>
                      <div class="form-group row">
                        <label for="cityNameAirporDestination" class="col-md-4 col-form-label">Nombre:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="cityNameAirporDestination"
                                 id="cityNameAirporDestination"
                                 [(ngModel)]="flight.cityNameAirporDestination">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="cityDescAirporDestination" class="col-md-4 col-form-label">Descripción:</label>
                        <div class="col-md-8">
                          <input type="text"
                                 class="form-control"
                                 name="cityDescAirporDestination"
                                 id="cityDescAirporDestination"
                                 [(ngModel)]="flight.cityDescAirporDestination">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deleniti dolor dolorum,
          eaque eos est facilis id incidunt iure iusto labore nulla quibusdam repellat saepe sint suscipit totam voluptatem!

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deleniti dolor dolorum,
          eaque eos est facilis id incidunt iure iusto labore nulla quibusdam repellat saepe sint suscipit totam voluptatem!

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam deleniti dolor dolorum,
          eaque eos est facilis id incidunt iure iusto labore nulla quibusdam repellat saepe sint suscipit totam voluptatem!
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">

    </div>
  </div>
</div>
