
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <app-principal></app-principal>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-login></app-login>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-pago></app-pago>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-busqueda></app-busqueda>
    </div>
  </div>
</div>
