<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Sección Reserva</h1>
      <div class="container">
        <!-- Info reserva -->
        <div class="row">
          <div class="col-md-12 my-2">

            <div class="card">
              <div class="card-header">
                Detalles del vuelo
              </div>
              <div class="card-body">
                <h5 class="card-title">Información del Vuelo</h5>
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Origen</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control-plaintext" id="staticEmail" value="Se mostrará el Origen elegido" disabled="disabled">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Destino</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control-plaintext" id="staticEmail" value="Se mostrará el Destino elegido" disabled="disabled">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-8">
                      <input type="date" class="form-control" id="inputDate">
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12 my-2">

            <div class="card">
              <div class="card-header">
                IDA <input type="date" class="form-control" id="inputDate" style="width: 150px" disabled="disabled">
              </div>
              <div class="card-body">
                <div class="card-title">
                    <h5>Nombre de la aereolínea</h5>
                </div>
                <form>
                  <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    (Origen)México        Hora de Salida        (Destino)USA       Tiempo Estimado                
                  </label>
                  <label class="form-check-label">
                        Se mostrará informacion del vuelo seleccionado, como es la hora de salida y el tiempo estimado            
                  </label>
                </div>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                VUELTA <input type="date" class="form-control" id="inputDate" style="width: 150px" disabled="disabled">
              </div>
              <div class="card-body">
                <div class="card-title">
                    <h5>Nombre de la aereolínea</h5>
                </div>
                <form>
                  <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Se mostrára, en caso de haberse elejido, el vuelo de vuelta, con sus respectivas cosas.                
                  </label>
                </div>
                </form>
              </div>
            </div>
    
          </div>
        </div>

        <!-- Botón de pago -->
        <div class="row">
          <div class="col-md-12 text-center">

            <a href="#" class="btn btn-primary">PROCEDER AL PAGO</a>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>